

header {
    background-color: darkslategray;
    color: azure;
}

ul {
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
}

.nav-header {
    text-decoration: none;
    color: azure;
}
button {
    background-color: darkslategray;
}

